<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学科信息</title>
    <style>
        #container {
            width: 80%;
            margin: 10px auto;
        }

        .user {
            float: right;
            margin-right: 10px;
        }

        .user > a {
            margin-right: 10px;
        }

        #main > dl > dt {
            font-size: 1.5em;
            font-weight: bold;
        }

        #main > dl > dd {
            font-size: 1.2em;
        }

        a {
            text-decoration: none;
            color: darkcyan;
        }
    </style>
</head>
<body>
<div id="container">
    <div class="user">
        {{ username }}
        <a v-if="!!localStorage.token" href="" @click.prevent="logout()">注销</a>
        <a href="/static/html/login.html" v-if="username.length == 0">用户登录</a>
        <a href="/static/html/register.html">快速注册</a>
        <a href="/admin/">管理员入口</a>
    </div>
    <h1>所有学科</h1>
    <hr>
    <a href="/report/">查看报表</a>
    <div id="main">
        <dl v-for="subject in subjects">
            <dt>
                <a :href="'/static/html/teachers.html?sno=' + subject.no">{{ subject.name }}</a>
                <img v-if="subject.is_hot" src="/static/images/hot-icon-small.png">
            </dt>
            <dd>{{ subject.intro }}</dd>
        </dl>
    </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script>
    // JSON - JavaScript Object Notation
    // 创建Vue对象，指定渲染的区域（元素）和使用的数据
    let app = new Vue({
        el: '#container',
        data: {
            subjects: [],
            username: '',
        },
        created() {
            this.username = localStorage.username || this.username
            fetch('/subjects/')
                .then(resp => resp.json())
                .then(json => {
                    this.subjects = json.results
                })
        },
        methods: {
            logout() {
                delete localStorage.token
                delete localStorage.username
                this.username = ''
            }
        }
    })
</script>
</body>
</html>
